# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask specific
instance/
.webassets-cache

# Environment variables
.env
.env.*

# Virtual environment
venv/
ENV/
env/
*.venv
*.virtualenv

# MacOS
.DS_Store

# Logs and databases
*.log
*.sqlite3
*.db

# IDE and editor files
.vscode/
.idea/
*.swp
*~
*.sublime-workspace
*.sublime-project

# Python packaging
*.egg-info/
*.eggs/
build/
dist/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Testing
.cache/
pytest_cache/
.tox/
noxfile/

# Misc
*.bak
*.tmp

/_config/**.json

models/
checkpoints/
logs/
tensorboard/